<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bouchra.myapplicationechange">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
<!--android:roundIcon="@mipmap/ic_launcher_round"-->
    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ModifierAnnonce"></activity>
        <activity android:name=".activities.editMyProfil" />
        <activity android:name=".activities.MyProfil" />
        <activity android:name=".activities.Notification" />
        <activity android:name=".activities.Historique" />
        <activity android:name=".activities.ModiferOffre" />
        <activity android:name=".activities.ReviewUser" />
        <activity android:name=".activities.ConfirmEchange" />
        <activity android:name=".activities.MessageList" />
        <activity android:name=".activities.MessageActivity" />
        <activity android:name=".activities.DemandesOffre" />
        <activity android:name=".activities.DetailMesannonce" />
        <activity android:name=".activities.AjoutOffre" />
        <activity android:name=".activities.DetailAnnonce" />
        <activity android:name=".activities.debut" />
        <activity
            android:name=".activities.annonce.AnnonceActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.annonce.Article_en_retour"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.annonce.ImagesStorage"
            android:theme="@style/AppTheme.FullScreen">

        </activity>
        <activity android:name=".activities.GoogleMaps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_Key" />

        <activity android:name=".activities.profilUser" />
        <activity
            android:name=".fragments.Acceuil"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".fragments.Connect"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".fragments.Sinscrire"
            android:theme="@style/AppTheme.FullScreen" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.GettingDeviceTokenService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".notification.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- define file provider -->
        <!--
 set the androiod :exported attribute to false:
        the Fileprovider does not need to be public
        -->
        <!--
 set the android: grantUriPermission attbute to true:
        to allow you to grant temporarybaccess to files
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bouchra.myapplicationechange.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fille_paths" />
        </provider>
    </application>

</manifest>